
<!--{include(pe_tpl('header.html'));}-->
<div class="pagetop">
	<div class="fh"><a href="javascript:app_open('back')"></a></div>
	<div>{$menutitle}</div>
	<div class="cd"><a href="javascript:top_menu();"></a></div>
	<!--{include(pe_tpl('top_menu.html'));}-->
</div>
<div class="content">
	<div class="pinpai_list">
		<div class="brand_view_text">
			<div class="brand_view_tt">
				<img class="fl mar10" src="{pe_thumb($info['brand_logo'])}" />
				{$info['brand_name']}
			</div>
			{pe_texthtml($info['brand_text'])}
		</div>
		<div class="clear"></div>
	</div>
	<div class="tuijian_list mat10">
		<ul>
		<!--{foreach($info_list as $k=>$v):}-->
		<li>
			<div class="li_box">
				<a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}">
					<div class="prolist_logo">
						<img src="{$pe['host_tpl']}images/pixel.gif" data-url="{pe_thumb($v['product_logo'], 400, 400)}" title="{$v['product_name']}" class="js_imgload" />
						<!--{if($v['huodong_tag']):}--><div class="prolist_tag">{$v['huodong_tag']}</div><!--{endif;}-->
					</div>
				</a>
				<div class="prolist_name">
					<p><a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}">{$v['product_name']}</a></p>
					<span>¥{product_money($v['product_money'])}</span>
				</div>
			</div>
		</li>
		<!--{endforeach;}-->
		</ul>
		<div class="clear"></div>
	</div>
	<div class="fenye mat10 mab10">{$db->page->html}<div class="clear"></div></div>
</div>
<!--{include(pe_tpl('footer.html'));}-->