
<!--{include(pe_tpl('header_dialog.html','admin'));}-->
<form method="post" id="form">

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
<tr>
	<th class="bgtt">优惠券名称</th>
	<th class="bgtt" width="80">面值</th>
	<th class="bgtt" width="100">使用条件</th>
	<!--{if($info['quan_type'] == 'offline'):}-->
	<th class="bgtt" width="100">券码</th>
	<!--{endif;}-->
	<th class="bgtt" width="130">领取用户</th>
	<th class="bgtt" width="120">使用日期</th>
	<th class="bgtt" width="70">状态</th>
</tr>
<!--{foreach($info_list as $v):}-->
<tr>
	<td><a href="{pe_url('quan-'.$v['quan_id'])}" target="_blank" class="cblue">{$v['quan_name']}</a></td>
	<td>{$v['quan_money']}元</td>
	<td>满{$v['quan_limit']}元</td>
	<!--{if($info['quan_type'] == 'offline'):}-->
	<td>{$v['quan_key']}</td>
	<!--{endif;}-->
	<td>{$v['user_name']?$v['user_name']:'-'}</td>
	<td>{$v['quanlog_utime']?pe_date_color(pe_date($v['quanlog_utime'])):'-'}</td>
	<td>	
		<!--{if($v['quanlog_state']==0):}-->
		<span class="corg">未使用</span>				
		<!--{elseif($v['quanlog_state']==1):}-->
		<span class="cgreen">已使用</span>					
		<!--{elseif($v['quanlog_state']==2):}-->
		<del class="c999">已过期</del>
		<!--{endif;}-->
	</td>
</tr>
<!--{endforeach;}-->
</table>
</form>	
<div class="right_bottom" style="border:0;border-top:1px solid #F1F1F1">
	<span class="fr fenye">{$db->page->html}</span>
	<div class="clear"></div>
</div>
<!--{if($info['quan_type'] == 'offline'):}-->
<a href="javascript:;" id="fafang_btn" onclick="quanlog_add();">添加券码</a>
<a href="webadmin.php?mod=quan&act=excel_out&id={$quan_id}&excel=1" id="excel_btn">导出券码</a>
<style type="text/css">
body{padding-bottom:45px !important;}
#fafang_btn{position:fixed; display:block; bottom:0; left:0; width:50%; height:40px; line-height:40px; color:#666; border-top:1px solid #ccc; background:#eaeaea; text-align:center; border-right:1px solid #ccc; z-index:1}
#excel_btn{position:fixed; display:block; bottom:0; right:0; width:50%; height:40px; line-height:40px; color:#666; border-top:1px solid #ccc; background:#eaeaea; text-align:center}
</style>
<!--{endif;}-->
<script type="text/javascript">
$(function(){
	if ($(".right_bottom").height() == 0) {
		$(".right_bottom").remove();
	}
})
function quanlog_add() {
	window.parent.layer.open({
		type: 2,
		title: '添加券码',
		area: ['500px', '320px'],
		fixed: false, //不固定
		shadeClose: true,
		shade: 0.5,
		content: 'webadmin.php?mod=quan&act=fafang&id={$quan_id}'
	});
}
</script>
</script>
<!--{include(pe_tpl('footer_dialog.html','admin'));}-->