
<!--{include(pe_tpl('header.html','admin'));}-->
<div class="right">
	<div class="now">
		<a href="webadmin.php?mod=zhekou" class="sel">{$menutitle}（{$tongji['all']}）<i></i></a>
		<a href="webadmin.php?mod=zhekou&act=add" id="fabu">添加活动</a>
		<div class="clear"></div>
	</div>
	<div class="right_main">
		<form method="post" id="form">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
		<tr>
			<th class="bgtt" width="50">ID号</th>
			<th class="bgtt" width="40"></th>
			<th class="bgtt aleft">活动信息</th>
			<th class="bgtt" width="100">参与商品</th>
			<th class="bgtt" width="100">创建日期</th>
			<th class="bgtt" width="180">有效日期</th>
			<th class="bgtt" width="100">状态</th>
			<th class="bgtt" width="100">操作</th>
		</tr>
		<!--{foreach($info_list as $v):}-->
		<!--{$num = $db->pe_num('huodongdata', array('huodong_id'=>$v['huodong_id']))}-->
		<tr>
			<td>{$v['huodong_id']}</td>
			<td><img src="{$pe['host_admintpl']}images/zhekou.png" style="width:33px;" /></td>
			<td class="aleft"><span class="cblue">{$v['huodong_tag']}</span><p>{$v['huodong_desc']}</p></td>
			<td>{$num}个</td>
			<td>{pe_date($v['huodong_atime'], 'Y-m-d')}</td>
			<td>{pe_date($v['huodong_stime'], 'm-d H:i')} 至 {pe_date($v['huodong_etime'], 'm-d H:i')}</td>
			<td>{pe_hd_stateshow($v['huodong_stime'], $v['huodong_etime'])}</td>
			<td>
				<a href="webadmin.php?mod=zhekou&act=edit&id={$v['huodong_id']}" class="admin_edit mar5">修改</a>
				<a href="webadmin.php?mod=zhekou&act=del&id={$v['huodong_id']}&token={$pe_token}" class="admin_del" onclick="return pe_cfone(this, '删除')">删除</a>
			</td>
		</tr>
		<!--{endforeach;}-->
		</table>
		</form>
	</div>
	<div class="right_bottom">
		<span class="fr fenye">{$db->page->html}</span>
		<div class="clear"></div>
	</div>
</div>
<!--{include(pe_tpl('footer.html','admin'));}-->