
<!--{include(pe_tpl('header.html'));}-->
<div class="pagetop">
	<div class="fh"><a href="javascript:history.go(-1)"></a></div>
	<div>{$menutitle}</div>
	<div class="cd"><a href="javascript:top_menu();"></a></div>
	<!--{include(pe_tpl('top_menu.html'));}-->
</div>
<div class="main">
	<div class="zc_box2">
		<form method="post" id="form">
		<div class="zc_list">
			<div class="zc_mal zc_i1"><input type="text" name="user_name" class="login_input1" placeholder="手机号码 / 邮箱" /></div>
		</div>
		<div class="zc_list">
			<div class="zc_mal zc_i4">
				<input type="text" name="yzm" class="zc_input1" placeholder="手机 / 邮箱验证码" />
				<div class="zc_smsyzm" href="{$pe['host_root']}index.php?mod=check&act=send_yzm&type=getpw" onclick="pe_sendyzm(this, 'user_name')">获取验证码</div>
			</div>
		</div>
		<div class="zc_list">
			<div class="zc_mal zc_i2"><input type="password" name="user_pw" class="zc_input1" placeholder="请输入新密码（6-20位字符）" /></div>
		</div>
		<div class="zc_list">
			<div class="zc_mal zc_i2"><input type="password" name="user_pw1" class="zc_input1" placeholder="再次输入新密码" /></div>
		</div>
	</div>
	<div class="loginbtn" style="margin:20px 30px;">
		<input type="hidden" name="pesubmit" />
		<input type="button" value="提 交" />
	</div>
	</form>
	<div class="zh_zc1">
		<a href="{$pe['host_root']}user.php?mod=do&act=register" class="mar10">免费注册</a> |
		<a href="{$pe['host_root']}user.php?mod=do&act=login" class="mal10">用户登录</a>
	</div>
	
</div>
<script type="text/javascript">
$(function(){
	$(":button").click(function(){
		if ($(":input[name='user_name']").val() == '') {
			app_tip('请填写登录帐号');
			return false;
		}
		if ($(":input[name='yzm']").val() == '') {
			app_tip('请填写验证码');
			return false;
		}
		if ($(":input[name='user_pw']").val() == '') {
			app_tip('请填写新密码');
			return false;
		}
		if ($(":input[name='user_pw1']").val() == '') {
			app_tip('请填写确认密码');
			return false;
		}
		if ($(":input[name='user_pw']").val() != $(":input[name='user_pw1']").val()) {
			app_tip('新密码与确认密码不一致');
			return false;
		}
		$(this).val('提交中...');
		app_submit('user.php?mod=do&act=getpw', function(json){
			if (json.result) {
				app_open('user.php', 1000);
			}
			else {
	    		$(":button").val('提交');			
			}
		})
	})
})
</script>
<!--{include(pe_tpl('footer.html'));}-->