
<!--{include(pe_tpl('header.html'));}-->
<style>body{background:#FFF!important;}</style>
<div class="login_top">
	<div class="zc_tt" style="color:#000;">绑定手机号</div>
	<div class="top_dl"><img src="{pe_thumb($cache_setting['wap_logo'])}"></div>
	<a class="u_fh" href="{$pe['host_root']}"><i class="sy_ico"></i></a>
</div>
<div class="">
	<form method="post" id="form">
	<div class="zc_box1">
		
		<div class="clear"></div>
		
		
		
		<div class="zc_list js_phone">
			<div class="zc_mal zc_i5"><input type="text" name="user_phone" class="zc_input1" placeholder="手机号码" /></div>
		</div>
		
		
		<!--{if($cache_setting['web_checkphone']):}-->
		<div class="zc_list js_phone" style="border-bottom:0">
			<div class="zc_mal zc_i4">
				<input type="text" name="phone_yzm" class="zc_input1" placeholder="短信验证码" />
				<div class="zc_smsyzm" href="{$pe['host_root']}index.php?mod=check&act=send_yzm&type=reg" onclick="pe_sendyzm(this, 'user_phone')">获取验证码</div>
			</div>
		</div>
		<!--{endif;}-->
		<div class="zc_list">
			<div class="zc_mal zc_i2">
				<input type="password" style="display:none;width:0;height:0;" disabled="disabled" />
				<input type="password" name="user_pw" class="zc_input1" placeholder="登录密码（6-20位字符）" autocomplete="new-password" />
			</div>
		</div>
	</div>
	<div class="loginbtn" style="margin:20px;">
		<input type="hidden" name="reg_type" value="phone" />
        <input type="hidden" name="pid" value="{$_g_pid}" />
		<input type="hidden" name="pesubmit" />
		<input type="button" value="注 册" />
	</div>
	</form>
	
</div>
<script type="text/javascript">
$(function(){
	$(".js_reg").click(function(){
		$(".js_reg").removeClass("sel");
		$(this).addClass("sel");
		if ($(this).attr("reg_type") == 'email') {
			$(".js_email").show().find(":input").removeAttr("disabled");
			$(".js_phone").hide().find(":input").attr("disabled", "disabled");
		}
		else {
			$(".js_phone").show().find(":input").removeAttr("disabled");
			$(".js_email").hide().find(":input").attr("disabled", "disabled");	
		} 
		$(":input[name='reg_type']").val($(this).attr("reg_type"));
		$(".zc_list:visible:last").css("border-bottom", "0");
	})
	$(".js_reg:eq(0)").click();
	$(":button").click(function(){
		
		if ($(":input[name='user_pw']").val() == '') {
			app_tip('请填写登录密码');
			return false;
		}
		/*if ($(":input[name='user_pw1']").val() == '') {
			app_tip('请填写确认密码');
			return false;
		}
		if ($(":input[name='user_pw']").val() != $(":input[name='user_pw1']").val()) {
			app_tip('登录密码与确认密码不一致');
			return false;
		}*/
		if ($(":input[name='reg_type']").val() == 'email' && $(":input[name='user_email']").val() == '') {
			app_tip('请填写电子邮箱');
			return false;
		}
		if ($(":input[name='reg_type']").val() == 'phone' && $(":input[name='user_phone']").val() == '') {
			app_tip('请填写手机号码');
			return false;
		}
		/*if ($(":input[name='authcode']").val() == '') {
			app_tip('请填写图形验证码');
			return false;
		}*/
		$(this).val('提交中...');
		app_submit('user.php?mod=do&act=wx_reg', function(json){
			if (json.result) {
				if ("{$_SESSION['pro_id']}" != "") {
					
					app_open("{$pe['host_root']}index.php?mod=product&act={$_SESSION['pro_id']}", 1000);
				}
				else {
					app_open('user.php', 1000);				
				}
			}
			else {
	    		$(":button").val('注 册');			
			}
		})
	})
})
</script>
<!--{include(pe_tpl('footer.html'));}-->