
<!--{include(pe_tpl('header.html'));}-->
<div class="pagetop">
	<div class="fh"><a href="javascript:app_iframe_close();"></a></div>
	<div>{$menutitle}</div>
</div>
<div class="main">
	<a href="{pe_url('product-'.$info['product_id'])}" target="_top" class="order_a" style="background:#fff">
		<div class="dingdan_img"><img src="{pe_thumb($info['product_logo'], 100, 100)}" /></div>
		<div class="dingdan_name" style="line-height:20px;">
			<div style="height:40px; overflow:hidden; line-height:20px;">{$info['product_name']}</div>
			<p class="c888 font12">{order_skushow($info['product_rule'])}</p>
		</div>
		<div class="dingdan_jg">
			¥{$info['product_money']}
			<p class="c999 font12">×{$info['product_num']}</p>
		</div>
	</a>
	<div class="xuxian2"></div>
	<form method="post" id="form">
	<div class="zc_box2 mat10">
		<div class="zc_list">
			<div class="zc_name">退款类型</div>
			<div class="zc_text">
				<!--{if($act == 'add'):}-->
				<select name="refund_type">
				<!--{foreach($ini['refund_type'] as $k=>$v):}-->
				<!--{if($k == 2 && $order['order_state'] == 'wsend')continue;}-->
				<option value="{$k}">{$v}</option>
				<!--{endforeach;}-->
				</select>
				<!--{else:}-->
				{$ini['refund_type'][$info['refund_type']]}
				<!--{endif;}-->
			</div>
		</div>
		<div class="zc_list">
			<div class="zc_name">商品退款</div>
			<div class="zc_text"><input type="text" name="refund_product_money" value="{$info['refund_product_money']}" placeholder="最多可退{$refund_maxmoney['product']}元" /></div>
		</div>
		<div class="zc_list">
			<div class="zc_name">运费退款</div>
			<div class="zc_text"><input type="text" name="refund_wl_money" value="{$info['refund_wl_money']}" placeholder="最多可退{$refund_maxmoney['wl']}元" /></div>
		</div>
		<div class="zc_list zc_textarea">
			<div class="zc_name">申请原因</div>
			<div class="zc_text"><textarea type="text" name="refund_text" placeholder="请填写申请原因" />{$info['refund_text']}</textarea></div>
		</div>
	</div>
	<div class="loginbtn" style="margin:15px;">
		<input type="hidden" name="pe_token" value="{$pe_token}" />
		<input type="hidden" name="pesubmit" />
		<input type="button" value="提 交" />
	</div>
	</form>
</div>
<script type="text/javascript">
$(function(){
	$(":button").click(function(){
		app_submit('{pe_nowurl()}', function(json){
			if (json.result) app_open('dialog', 1000);
		})
	})
})
</script>
<!--{include(pe_tpl('footer.html'));}-->