
<!--{include(pe_tpl('header.html'));}-->
<div class="qg_top"><p>{$menutitle}</p></div>
<div class="content">
	<div class="tuijian_list">
		<!--{foreach($info_list as $k=>$v):}-->
		<div class="prolist" <!--{if(($k+1)%4==0):}-->style="margin-right:0"<!--{endif;}-->>
			<a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}" target="_blank">
				<div class="prolist_img">
					<img src="{$pe['host_tpl']}images/pixel.gif" data-url="{pe_thumb($v['product_logo'], 400, 400)}" title="{$v['product_name']}" width="265px" height="265px" class="js_imgload" />
					<div class="ms_time">
						剩余 <span class="huodong_time" endtime="{$v['huodong_etime']}"></span>
					</div>
					<div class="ms_bg1"></div>
				</div>
				<p class="prolist_name">{$v['product_name']}</p>
			</a>
			<div class="qg_box">
				<span class="qg_l">
					<span class="mar10 money4"><span class="font16">¥</span>{product_money($v['product_money'])}</span>
					<s class="font12"><i>¥{product_money($v['product_smoney'])}</i></s>
				</span> 
				<a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}" target="_blank" class="qg_r">{$v['product_ptnum']}人团</a>
				<div class="clear"></div>
			</div>
		</div>
		<!--{endforeach;}-->
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="fenye mat15">{$db->page->html}</div>
	<div class="clear"></div>
</div>
<script type="text/javascript">
$(function(){
	pe_jstime(".huodong_time", '{time()}', 'html');
})
</script>
<style type="text/css">
.prolist{height:360px;}
</style>
<!--{include(pe_tpl('footer.html'));}-->